<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521520622441-pe45jc7vrmnirab06pi4jnimkrfuhun8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521520622441-pe45jc7vrmnirab06pi4jnimkrfuhun8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>521520622441-pog08anclcebf75tmbkvejtq3efjr5o3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9ON6am2WJhUx7_jFXGLdur8SpuAz2Ifk</string>
	<key>GCM_SENDER_ID</key>
	<string>521520622441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.financio.mobilev2</string>
	<key>PROJECT_ID</key>
	<string>financi-o-app-lsrf2o</string>
	<key>STORAGE_BUCKET</key>
	<string>financi-o-app-lsrf2o.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521520622441:ios:3b31f8f9cf469303146bf8</string>
</dict>
</plist>